.txheader{
    background-color: hsl(120, 1%, 57%);
    
}
.imgone{
    width: 280px;
    height: 250px;
    margin-left:100px;
    
}
body{
    margin: 0%;
    padding-top: 0%;
}
#txdireccion{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid  rgb(0, 0, 0);
    width:350px ;
    outline: none;
    margin-left: 35%;
    width: 800px;
    padding: 20px;
    
}
#txtelefono{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width:350px ;
    outline: none;
    margin-left: 35%;
    width: 800px;
    padding: 20px;
}
#txnombre{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 350px;
    outline: none;
    margin-left: 35%;
    width: 800px;
    padding: 20px;
}
#txemail{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width:350px ;
    outline: none;
    margin-left: 35%;
    width: 800px;
    padding: 20px;
}
#txrazon{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(3, 3, 3); 
    width:350px ;
    outline: none;
    margin-left: 35%;
    width: 800px;
    padding: 20px;
}
#txempleados{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width:350px ;
    outline: none;
    margin-left: 35%;
    width: 800px;
    padding: 20px;
    
   
}
#txfechaF{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width:350px ;
    outline: none;
    color: rgb(14, 16, 17);
    margin-left: 35%;
    width: 800px;
    padding: 20px;
    
}
#txfechaF::placeholder{
    color: rgb(104, 104, 104);
}
.onemainn{
    display: inline-flex;
    justify-content: space-between;
    margin: 1px;
    padding: 1px;
    

}
.ul-list{
    list-style-type: none;
    font-weight: bold;
    list-style-type: none;
    border: 4px;
}
.nav-enlace{
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enlacess{
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    width: 215px;
    margin: 10px;
    
    
}
.tx-menu{
    justify-content: flex-start;
    width: 100%;
    max-width: 210px;
}
.clas{
    margin: 60px;
    align-items: center;
}
.footertx{
    background-color: hsl(0, 0%, 0%);
    border-top: none;
    text-align: center;
    margin-top: 20px;
    
}
.footertx p {
    margin: 50px;
    padding: 20px;
    color: aliceblue;
}
.error{
    background-color: red !important;
}
#txsubmit{ 
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
    display: block;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: none;
}
#txsubmit:hover{
    color: rgb(113, 112, 110);
}
.form{
    width:500px ;
    margin-left: 35%;
    width: 1000px;
    padding: 20px;
}
#nav-pri{
    background-color: black;
}
#btnGuardar{
    background-color: rgb(121, 121, 121);
    border: none;
    border-radius: 10px;
    text-align: center;
}


    






